.ic-file {
    float: right;
    width: 85px;
    height: 85px;
    cursor: pointer;
    margin: 2px;
    margin-bottom: 2rem;
}

.ic-file-folder {}

.ic-file i {
    font-size: 80px;
    text-align: center;
    margin: auto;
    display: block;
}

.ic-file label {
    text-align: center;
    margin: auto;
    display: block;
    height: 1.5rem;
    overflow: hidden;
}

.ic-file-img {
    position: relative;
}

.ic-file img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #9a9797;
    text-align: center;
    margin: auto;
    display: block;
}

.ic-file img:hover,
.ic-file i:hover {
    background: #FFEB3B;
}

.ic-file-created {
    background: #FFEB3B;
}

.file-tools {
    width: 100%;
    margin-bottom: 5px;
}

.modal-header .close {
    padding: 0;
}

.file-tools i {
    margin: 2px;
    padding: 9px;
    background-color: #e2e276;
    cursor: pointer;
}

.file-body {
    min-height: 30rem;
    max-height: 480px;
    overflow: auto;
    padding-top: 0;
}

.file-map {
    min-height: 2rem;
}

.file-map label {
    cursor: pointer;
}

.file-map label:hover {
    color: #008ec2;
}

.file-map i {
    font-size: 1.5rem;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    display: block;
    margin: auto;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.file-tools .input-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.file-fix {
    position: sticky;
    top: 0;
    background: #fff;
    margin: 0;
    padding-top: 10px;
    z-index: 100;
    border-bottom: 3px solid #bfbfbf;
    margin-bottom: 20px;
}

.file-content {}
.file-content .link-img{
    position: absolute;
    top: 0;
    left: 5px;
}
.file-content .link-img .fa{
    font-size: 20px;
}
.file-tick {
    position: absolute;
    margin: 5px 10px 5px 5px;
    display: none;
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5);
    /* IE */
    -moz-transform: scale(1.5);
    /* FF */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
    transform: scale(1.5);
}

.ic-file .file-btn-edit {
    position: absolute;
    margin: 3px 56px 5px 5px;
   display: none; 
    font-size: 20px;
    padding: 2px;
    border: 1px solid #CCD;

}

input[type=checkbox]:checked:after {
    background: green !important;
    color: black !important;
}

#file-alert .alert {
    padding: .4rem 1.25rem;
    margin-bottom: 0;
}

#file-alert {
    display: none;
}

.myprogress-bar {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: -17px;
    height: 1rem;
    background-color: #cad3dc;
}