@font-face {
    font-family: "yekan";
    src: url(../fonts/Yekan.eot);
    src: url(../fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(../fonts/Yekan.woff) format("woff"), url(../fonts/Yekan.ttf) format("truetype"), url(../fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Medium-FD-WOL.eot');
    src: url('../fonts/Vazir-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Medium-FD-WOL.woff2') format('woff2'), url('../fonts/Vazir-Medium-FD-WOL.woff') format('woff'), url('../fonts/Vazir-Medium-FD-WOL.ttf') format('truetype');
    font-weight: normal;
}
*, body {
    font-family: Vazir,yekan;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    direction: rtl;
}
.font-9{
    font-size: 9px;
    }
.font-10{
    font-size: 10px;
    }
.font-11{
    font-size: 11px;
    }
.font-12{
font-size: 12px;
}
.font-13{
    font-size: 13px;
    }
.font-14{
        font-size: 14px;
        }
.font-15{
            font-size: 15px;
 }
 .font-16{
    font-size: 16px;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 0cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    
}
.landscape {
    width: 29.7cm;
    min-height: 21cm;
}
.subpage {
    padding: 0.5cm;
    /* border: 1px red solid; */
    /* height: 256mm; */
    /* outline: 1cm #FFEAEA solid;*/
}
table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th,td{
    text-align: right;
    padding: 2px 2px 4px 2px;
    vertical-align: middle;
    /* word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
    border-left: 1px solid #dcddde;
}
thead tr{

}
thead tr th{
    border-bottom: 1px solid #9c9a9a;
}
tbody tr:nth-child(even){
    background-color: #e3e8ea;
}
td:first-child,th:first-child{
    width: 50px;
}
.header{
    width: 100%;
    height: 30px;
    position: fixed;
    top: 7px;
    background: #fff;
}
.header-box{
    float: right;
    margin-left: 14px;
}
.btn{
    text-decoration: none;
    cursor: pointer;
    margin-left: 0px;
    border: 1px solid #ddd;
    padding: 2px 5px 2px 5px;
}
.btn-back{

}
h5{

}
@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .landscape {
        width: 29.7cm;
        min-height: 21cm;
    }
    .header{
        display: none;
    }
}