@font-face {
    font-family: "yekan";
    src: url(../fonts/Yekan.eot);
    src: url(../fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(../fonts/Yekan.woff) format("woff"), url(../fonts/Yekan.ttf) format("truetype"), url(../fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Medium-FD-WOL.eot');
    src: url('../fonts/Vazir-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Medium-FD-WOL.woff2') format('woff2'), url('../fonts/Vazir-Medium-FD-WOL.woff') format('woff'), url('../fonts/Vazir-Medium-FD-WOL.ttf') format('truetype');
    font-weight: normal;
}

*,
body {
    font-family: Vazir, yekan;
}

body {
    direction: rtl;
    background-color: #eee;
}

input,
select,
button {
    font-size: 11px;
}

.container {
    background-color: #fff;
    min-height: 600px;
}

header {
    padding: 6px 18px 10px 20px;
    background: #1a72b1;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 53px;
    top: 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    right: 0;
}

header #page-title {}

header .logo-title {}

.main {
    min-height: 500px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #116098;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a.active {
    background: #fff;
    color: #337ab7;
}

.sidenav .sidenav-box {
    overflow: scroll;
    height: 90%;
}

.sidenav .sidenav-box::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.sidenav .sidenav-box {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sidenav a .span {
    padding-right: 10px;
}

.sidenav a .count-nav {
    background: #f15a5a;
    border-radius: 50%;
    padding: 0px 7px 0px 7px;
}

.sidenav a.menu-a:hover,
.sidenav a.active {
    color: #000;
    background-color: #fff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: -60px;
    font-size: 36px;
    margin-left: 50px;
}

#close-btn {}

#main {
    transition: margin-left .5s;
    padding: 5px 10px 10px 10px;
}

.alert {
    margin: 10px;
}

.plugin-box {}

.plugin-box .plugin-item {
    margin: 15px;
    padding: 5px 10px 15px 15px;
    border: 1px solid #ddd;
    font-size: 16px;
    height: 90px;
    /* background: #e8ead3; */
    box-shadow: 10px 10px 10px #ddd;
    position: relative;
}

.plugin-box .plugin-item .desctop-additinal-label {
    z-index: 200;
    position: absolute;
    top: -14px;
    left: 0;
}

.plugin-box .plugin-item .count-nav {
    background: #f15a5a;
    border-radius: 50%;
    color: #fff;
    float: left;
    padding: 0px 7px 0px 7px;
}

.plugin-box .plugin-item img {
    width: 39%;
    max-height: 90%;
    /* height: 82%; */
    position: absolute;
    left: 4px;
    bottom: 2px;
    opacity: 20%;
}

.plugin-box .plugin-item label {
    margin-top: 0px;
    font-size: 14px;
}

.plugin-box .plugin-item a {
    text-decoration: none;
}

.plugin-box .plugin-item:hover {
    background: #3494d8;
    color: #fff;
}

.img-upl {
    width: 100px;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 10px;
}

.gallery-img-item {
    width: 45px;
    height: 45px;
    margin: 5px;
    float: right;
    position: relative;
}

.gallery-img-item i {
    position: absolute;
    left: 5px;
}

.gallery-img-item img {
    width: 100%;
    height: 100%;
}

.col-gallery {
    margin-top: 15px;
    margin-bottom: 15px;
}

#created-p {
    display: none;
}

.fa-question-circle {
    font-size: 14px;
    color: #5ca3d6;
}

.tooltip-help-input {
    position: absolute;
    z-index: 10001;
    width: 170px;
    word-break: break-word;
    text-align: justify;
    background: #fff;
    padding: 5px;
    border: 1px solid #000;
    opacity: 1;
    transition: all 0.5s ease;
    display: none;
}

.dashbord-tile {
    padding: 5px;
    color: #fff;
    margin-top: 14px;
    min-height: 110px;
}

.dashbord-tile hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashbord-tile i {
    float: left;
}

.help-panel .panel-body {
    padding-top: 15px;
}

.header-options {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header-options a {
    color: #fff;
}

.header-options a:hover {
    color: #a3befb;
}

.header-options i {
    font-size: 19px;
    margin-right: 10px;
}

.page-title {
    color: #1b80e8;
    text-align: center;
    margin-top: 15px;
}

.dashboard-menu {
    width: 100%;
}

.dashboard-menu a {
    margin: 10px;
    line-height: 30px;
}

.dashboard-menu i {
    margin-left: 2px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1200px) {
    .container {
        width: 95%;
    }
}